body {
  margin:0px;
}
h1 {
  color:violet;
  font-size:60px;
  text-align: center;
  margin:0px;
  text-shadow: 3px 3px 3px  rgba(0,0,0,0.6);
}
h2 {
  text-align: center;
  color:black;
  border-bottom:1px solid gray;
  padding:10px;
  margin-top:0;
}
h1,h2 {
  background-color:#FFD700;
}
h3 {
  font-size:25px;
  color:purple;
  margin-left:180px;
}
#iu {
display: grid;
grid-template-columns:250px 1fr;
}
#dlwlrma {

border:1px dotted gray;
margin-top:14px;
padding:10px;
background-color:#efefef;
margin-right: 50px;
}
.BBIBBI{
margin-left:200px;
font-size:25px;
margin-bottom:30px;
}
